* {
    box-sizing: border-box;
  }
  body {
    background: #7bdaf3;
    background: grey;
    /* background: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%); */
    font-family: sans-serif;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }
  .note {
    padding-top: 3rem;
  }
  .add {
    /* background: #9ec862; */
    border-radius: 3px;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    position: fixed;
    top: 1rem;
    cursor: pointer;
    right: 1rem;
    font-weight: bold;

    background: #000;
    font-size: large;
  }
  .notes {
    background: #fff;
    box-shadow: 0 0 10px 4px rgba(1000, 100, 100, 0.1);
    margin: 20px;
    height: 400px;
    width: 400px;
  }
  .note .tools {
    /* background: #9ec862; */
    background: #000;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
  }
  .note .tools button {
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 0.5rem;
  }
  .note .main {
    background: #eee;
    overflow: hidden;
    width: 100%;
  }
  .note textarea {
    outline: none;

    font-family: inherit;
    font-size: 1.2rem;
    border: none;
    height: 400px;
    width: 100%;
  }
  .note .hidden {
    display: none;
  }