* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    color: white;
    font-family: sans-serif;

    background-image: linear-gradient(45deg, #30cfd0 0%, #330867 100%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: large;
  }
  .pw-container {
    border-radius: 5px;
    background: rgba(46, 12, 80);

    min-width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
  }
  .pw-header {
    padding: 1rem;
  }
  .pw {
    box-shadow: 0 0 10px aqua;
    background: rgba(69, 28, 109);
    width: 100%;
    height: 70px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    position: relative;
    padding: 1rem;
    border-radius: 10px;
    /* overflow: aut?o; */
  }
  .pw button {
    background: white;
    border: none;
    color: rgba(29, 2, 56);
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    padding: 0.25rem;
    position: absolute;
    top: 0;
    right: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translate(0, 20%);
    opacity: 0;
  }
  .pw:hover button {
    transform: translate(0, -1%);
    opacity: 1;
  }
  .pw-body {
    padding: 0 1rem 1rem;
  }
  .form-control {
    color: #eee;
    display: flex;
    justify-content: space-between;
    margin: 0.75rem 0;
  }
  .generate {
    display: block;
    border: none;
    background: #ecb620;
    color: rebeccapurple;
    font-weight: bold;
    font-size: 1.5rem;
    width: 100%;
    padding: 0.75rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
  }