:root {
  --primary: crimson;
  --dark: #1f2937;
  --darkdark: #111827;
  --light: #f3f4f6;
}
* {
  box-sizing: border-box;
  margin: 0;
  font-style: italic;
  transition: 0.2s;
  /* font-family: fantasy; */
}
body {
  background: var(--dark);
  color: var(--light);
}
.watch {
  text-align: center;
  background: var(--darkdark);
  width: 100%;
  max-width: 360px;
  margin: 4rem auto;
  padding: 1rem 2rem;
  border-radius: 1rem;
  height: 400px;

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.time {
  font-size: 5rem;
  font-weight: 300;
  margin-bottom: 1rem;
}
.controls {
  display: flex;
  align-items: center;
  justify-content: center;
}
.controls button {
  appearance: none;
  background: none;
  border: none;
  outline: none;
  user-select: none;
  cursor: pointer;

  color: var(--light);
  font-style: italic;
  font-size: 1.125rem;
  background: var(--primary);
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: 0.3s;
}
button:hover {
  /* opacity: 0.9; */
  background: rgb(159, 0, 32);
  filter: drop-shadow(0.1px 0.1px 10px purple);
}
button:active {
  background: var(--dark);
  border: 1px solid crimson;
}
